/*style.css*/


#Sharity{
  color: rgb(133,188,153);
  font-size: 20pt;
  text-shadow: 1px 1px 2px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Text Me One';
  font-size: 18;
}

/*.cover{
  display: block;
  position: relative:
  width: 100%;
  height: 100%;


}*/

.cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  background: linear-gradient(rgba(255,255,255,.95), rgba(255,255,255,.5)), url(images/HandsWHearts.jpg);
  background-size: cover;
  margin-bottom: 100px;
  min-height: 100%;
  padding-bottom: 6rem;
}


/* ONE HACK FOR BACKGROUND TRANSPARENCY*/
/*.cover::after{
  content: "";
  background: url(images/HandsWHearts.jpg);
  background-size: auto;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

}*/


header{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;

}



#HeaderRight{
  display: flex;
  flex-flow: row;
  justify-content: end;
  margin-top: 0;
  margin-bottom: 0;
  /*background-color: inherit;*/
}

.navbar {
display: flex;
flex-flow: row;
justify-content: flex-end;
background-color: inherit;
}

.navbar a {
display: block;
padding: 1em;
color: gray;
text-decoration: none;

}

.navbar a:hover{
  background-color: orange; /*This isn;t working*/
  text-decoration: none;
}


/*Main Content*/

.MainContent{
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.WhereGiving{
  color: rgb(133,188, 153);
  text-shadow: 2px 2px 2px black;
  font-size: 50pt;
  width: auto;
  max-width: 75%;
  align-self: center;
  margin-top: 5%;
  margin-bottom: 5%;

}

.SearchWrapper{
  display: flex;
  flex-flow: column;
  align-content: center;
  width: auto;
  max-width 75%;
  align-self: center;
  margin-bottom: 5%;
  border: 100px;
  border-color: rgba(133,188,153,.3);
  border-radius: 4pt;

}

.Explanation {
  font-size: 20pt;
  color: gray;
  text-shadow: 1px 1px 1px;
  margin-bottom: 5%;
}

.Search{
  font-size: 25pt;
  margin-bottom:5%;
}

input{
  font-size: 20pt;
  border-radius: 4pt;
  background-color: rgba(133,188,155,.3);
  height: 30pt;
  color: gray;
}

button{
  font-size: 20pt;
  color: gray;
  background-color: rgba(133,188,155,.3);
  border-radius: 4pt;
  height: 30pt;
}



/*FOOTER */

footer{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  /*align-self: center;*/
  background-color: rgb(133,188,153);
  margin-bottom: 0;
  padding: 0;
  align-self: flex-end;
}

.LinkHeading{
  font-size: 15pt;
  color: gray;
}

li{
  font-size: 12pt;
  color: gray;
}

li:hover{
  text-decoration: underline;
}

ul {
  list-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}


#logo {
  width: 1cm;
  height: 1cm;

}

#footerLogo {
  width: 2cm;
  height: 2cm;
}
